page-template-characters-details {
    .main {
       margin-bottom: 50px;
    }
        .btn0 {
       margin-bottom: 100px;
    }
    .btn1{
        position: fixed;
        bottom: 175px;
    }
    .btn2{
        position: fixed;
        bottom: 225px;
    }
    .btn3{
        position: fixed;
        bottom: 275px;
    }
    .btn4{
        position: fixed;
        bottom: 325px;
    }
    .btn5{
        position: fixed;
        bottom: 375px;
    }
    .delete-btn{
        height: 80%;
    }

}
